<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" encoding="UTF-8">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create-customer">Create new customer</a>
<h1>Customers</h1>
<form method="post" action="/search">
    Search by first name:
    <input id="filter" type="text" name="nameSearch" class="form-control input-sm w-auto inline m-r" placeholder="Search..."/>
    <button type="submit">Search</button>
</form>
<br>
<table border="1" cellspacing="2">
    <thead>
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="customer : ${customers}">
        <tr>
            <td th:text="${customer.id}"></td>
            <td th:text="${customer.firstName}"></td>
            <td th:text="${customer.lastName}"></td>
            <td><a th:href="@{/edit-customer/__${customer.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-customer/__${customer.id}__ }">Delete</a></td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>