<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List Customers</title>
    <meta charset="utf-8" />
</head>
<body>

<a href="/customers"><button type="submit">Home</button></a>
<a href="/create-customer"><button type="submit">Create new customer</button></a>
<a href="/insert-customer"><button type="submit">Insert new customer</button></a>
<h1>Customers</h1>

<form method="post" action="/search">
    Search by first name:
    <input id="filter" type="text" name="nameSearch" class="form-control input-sm w-auto inline m-r" placeholder="Search..."/>
    <button type="submit">Search</button>
</form>

<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>

<table border="1" cellspacing="2">
    <thead>
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="customer : ${customers}">
        <tr>
            <td th:text="${customer.id}"></td>
            <td th:text="${customer.firstName}"></td>
            <td th:text="${customer.lastName}"></td>
            <td><a th:href="@{/edit-customer/__${customer.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-customer/__${customer.id}__ }">Delete</a></td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>