<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="customer" class="TutorialSpringMVC.Models.CustomerTest">
        <property name="name" value="Ronaldo"/>
    </bean>

    <bean name="customerService" class="TutorialSpringMVC.Service.SimpleICustomerServiceImpl"/>

    <bean name="translatorService" class="TutorialSpringMVC.Service.TranslatorService" />

<!--    <bean name="convertMoneyService" class='TutorialSpringMVC.Service.ConvertMoneyService' >-->
<!--        <constructor-arg index="0" value=0 />-->
<!--        <constructor-arg index="1" value=0 />-->
<!--    </bean>-->
</beans>
